/* Login / Register page */
.login-register-container {
    display: none;
}
/* END: Login / Register page */

/* Tab-options */
.tab-options-container,
.tab-options-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form,
.register-form {
    display: none;
}

.active-tab {
    display: block;
}
/* END: Tab-options */

/* General form */
.form {
    margin-top: 1rem;
}

.response-output,
.form-container, 
.form-wrapper,
.form-wrapper form, 
.form-wrapper form div {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-wrapper {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 25rem;
    padding: 1rem;
    background:linear-gradient(to right, #E9F8FF, #90B2D8, #C1E3FF);
}
.form-wrapper form div input {
    margin: 0 auto;
    width: 15rem;
}
/* END: General form */

.tab-button {
    outline: none;
    cursor: pointer;
    font-weight: 400;
    border-radius: 3px;
    line-height: 1.15;
    font-size: 1.2rem;
    padding: 5px;
    width: 10rem;
    background:linear-gradient(to right, #E9F8FF, #90B2D8, #C1E3FF);
}

.tab-button:hover {
        transition: all .1s ease;
        box-shadow: 0 0 0 0 #fff, 0 0 0 3px #a4dad2;
}

.selected-tab-button {
    background: linear-gradient(109.6deg, 
                                rgb(173,247,242) 30.1%, 
                                rgb(21,170,255) 100.2%); 
}

.error-output {
    font-size: 0.8rem;
    color: red;
}

