.bill-wrapper {
  width: fit-content;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, 
              rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, 
              rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

  background: linear-gradient(to right, #E9F8FF, #90B2D8, #C1E3FF);
  padding: 1rem 3rem;

}
