<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Manager</title>
    <link rel="stylesheet" href="./vendor/bootstrap/css/bootstrap.min.css">

    <!--Styles & Bootstrap-->
    <script src="./vendor/bootstrap/js/bootstrap.bundle.min.js" ></script>
    <link rel="stylesheet" href="./css/styles.css">

    <!-- JQuery-->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <!-- Link Views JavaScripts-->
    <script src="./js/index.js"></script>
    <script src="./js/Account.js"></script>
   
</head>
<body>

    <h2>These are the accounts of your bank</h2>
    <div class="table-div">
        <table id="table" class="table table-striped-columns">
            <tr>
                <th>Dni</th>
                <th>Full Name</th>
                <th>Account type</th>
                <th>Amount</th>
                <th>Client type</th>
                <th>Entry Date</th>
            </tr>
        </table>
    </div>
    <div class="buttons-div">
        <button class="btn btn-success" id="bt-modify-data">Modify table</button>
    </div>
</body>
</html>