<h1 class="title">Events List!</h1>
<form class="d-flex form">

    <input class="form-control me-sm-2" type="search" placeholder="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    
  </form>
<div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col" >Name</th>
            <th scope="col" >Type</th>
            <th scope="col" >Date</th>
            <th scope="col" >Place</th>
            <th scope="col" >Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let event of events | paginate: { itemsPerPage: 10, currentPage: page}">
            <td  class="table-active" >{{ event.name }}</td>
            <td  class="table-active" >{{ event.type }}</td>
            <td  class="table-active" >{{ event.date }}</td>
            <td  class="table-active" >{{ event.price }}</td>
            <td  class="table-active" >{{ event.place }}
            </td>
            <td class="table-active">
                <button *ngIf="myRole == 'comprador'" class="btn btn-success float-right" i d="buyButton" >Buy ticket</button>
                <button *ngIf="myRole == 'admin'|| myRole == 'staff'" class="btn btn-secondary float-right" id="deleteButton" (click)="deleteRow(event)">Delete</button>

            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="page">
<pagination-controls class="btn btn-dark" (pageChange)="page = $event"></pagination-controls>
</div>
<div class="abajo-izquierda">
<b *ngIf="events.length > 1">Total number of events: {{ events.length }} </b>
<b *ngIf="events.length == 0">No events found </b>
</div>